nb-select {
  min-width: -webkit-fill-available;
}
.drop-box {
  min-height: 150px;
  min-width: 300px;
  display: table;
  background-color: #c6e4f1;
  border: solid 1px #75c5e7;
}
.message {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #686868;
}

img {
  width: 200px;
  height: 200px;
}
