<nb-card>
  <nb-card-header *ngIf="isChi">THÊM CHI</nb-card-header>
  <nb-card-header *ngIf="!isChi">THÊM THU</nb-card-header>
  <nb-card-body>
    <form>
      <div class="form-group mb-0">
        <label class="label">Ngày Thu</label>
        <div class="clearfix"></div>
        <mat-form-field>
          <mat-label>Chọn ngày</mat-label>
          <input matInput [matDatepicker]="picker" (dateChange)="createDateChooice('change', $event)"
                 (click)="picker.open()" [(ngModel)]="today" [ngModelOptions]="{standalone: true}">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="isChi" class="d-none">
        <mat-checkbox class="example-margin kcheckbox-label" (click)="ungTraLuongClick($event.checked)">Trả/ Ứng Lương?</mat-checkbox>
      </div>

      <div class="form-group" *ngIf="isChi">
        <label for="exampleInputPassword1" class="label">Khoản chi</label>
        <input type="text" nbInput fullWidth id="exampleInputPassword1" placeholder="Khoản chi"
               (keyup)="updateThuChi($event, 'name')">
      </div>
      <div class="form-group" *ngIf="isChi">
        <label for="ncc2" class="label">Trả cho nhà Cung Cấp</label>
        <div class="clearfix"></div>
        <nb-select [(selected)]="selectNcc" id="ncc2">
          <nb-option [value]="ncc.key" *ngFor="let ncc of nhaCungCaps">{{ ncc.name }}</nb-option>
        </nb-select>
      </div>
      <div class="form-group" *ngIf="!isChi">
        <label for="exampleInputThu" class="label">Khoản THU</label>
        <input type="text" nbInput fullWidth id="exampleInputThu" placeholder="Khoản THU"
               (keyup)="updateThuChi($event, 'name')" [value]="khoanThu">
      </div>
      <div class="form-group d-none">
        <label for="exampleInputFile" class="label">FILE</label>
        <input type="text" nbInput fullWidth id="exampleInputFile" placeholder="FILE"
               (keyup)="updateThuChi($event, 'fileKeys')" [value]="">
      </div>
      <div class="form-group" *ngIf="isChi">
        <label for="exampleInputSL" class="label">Số Lượng</label>
        <input type="text" nbInput fullWidth id="exampleInputSL" placeholder="Số Lượng"
               (keyup)="updateThuChi($event, 'soLuong')">
      </div>
      <div class="form-group" *ngIf="!isChi">
        <label for="ctNhaCungCap" class="label">Thu từ ĐỐI TÁC</label>
        <div class="clearfix"></div>
        <nb-select [(selected)]="selectKH" id="ctNhaCungCap">
          <nb-option [value]="customer.key" *ngFor="let customer of allCustomers">{{ customer.name }}</nb-option>
        </nb-select>
      </div>
      <div class="form-group">
        <label for="price" class="label">Số tiền</label>
        <input type="number" nbInput fullWidth id="price" placeholder="Số tiền"
               (keyup)="updateThuChi($event, 'price')" [value]="soTien">
        <p class="pre-price">{{ thuChi.price | currency : '' : '' : '1.0-0'}} VNĐ</p>
      </div>

      <div class="form-group">
        <label for="paymentType" class="label">Hình thức thanh toán</label>
        <div class="clearfix"></div>
        <div class="kradio">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="tt.key" *ngFor="let tt of paymentTypes" [checked]="thuChi.paymentType === tt.key"
                              (change)="updateThuChi($event, 'paymentType')">{{ tt.name }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="form-group">
        <label for="wallet" class="label" *ngIf="isChi">Từ tài khoản</label>
        <label for="wallet" class="label" *ngIf="!isChi">Tới tài khoản</label>
        <div class="clearfix"></div>
        <div class="kradio">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="tt.key" *ngFor="let tt of wallets" [checked]="thuChi.walletKey === tt.key"
                              (change)="updateThuChi($event, 'walletKey')">{{ tt.name }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="form-group" *ngIf="!isChi">
        <label for="trangThaiThanhToan" class="label">Trạng Thái Thanh Toán</label>
        <div class="clearfix"></div>
        <div class="kradio">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="tt.key" *ngFor="let tt of thanhToanTypes" [checked]="thuChi.trangThaiTT === tt.key"
                              (change)="updateThuChi($event, 'trangThaiTT')">{{ tt.name }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="form-group">
        <label for="note" class="label">Ghi Chú</label>
        <div class="clearfix"></div>
        <textarea cols="60" nbInput placeholder="Ghi Chú" id="note" (keyup)="updateThuChi($event, 'note')"></textarea>
      </div>

      <div class="thu-chi mb-5">
        <div class="form-group">
          <label class="label">TẢI FILES</label>
        </div>
        <div class="container tai-file-drop">
          <div class="row">
            <div class="drop-box" corpImgUpload (dropFiles)="onDropFiles($event)">
              <span class="message">KÉO THẢ ẢNH VÀO ĐÂY</span>
            </div>
          </div>
        </div>
        <label>
          <input
            type="file"
            accept="image/*"
            class="text-nowrap text-truncate"
            (change)="selectFile($event)"
          />
        </label>

        <button
          class="btn btn-success btn-sm d-none"
          [disabled]="!selectedFiles"
          (click)="upload()"
        >
          TẢI LÊN
        </button>

        <div *ngIf="currentFileUpload && percentage !== 100" class="progress mt-2 mb-3">
          <div
            class="progress-bar progress-bar-info"
            role="progressbar"
            attr.aria-valuenow="{{ percentage }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: percentage + '%' }"
          >
            {{ percentage }}%
          </div>
        </div>
        <div class="file-upload">
          <ul
            class="list-group list-group-flush"
            *ngFor="let file of fileUploadsNew"
          >
            <li class="list-group-item">
              <app-upload-details [fileUpload]='file' (deleteFile)="deleteFile($event)"></app-upload-details>
            </li>
          </ul>
        </div>

      </div>
      <button type="submit" nbButton status="danger" (click)="addItem()" *ngIf="isChi" [disabled]="disableAddChi()">THÊM CHI</button>
      <button type="submit" nbButton status="danger" (click)="addItem()" *ngIf="!isChi">THÊM THU</button>
    </form>
  </nb-card-body>
</nb-card>
