<nb-card>
  <nb-card-header *ngIf="isChi">THÊM CHI</nb-card-header>
  <nb-card-header *ngIf="!isChi">THÊM THU</nb-card-header>
  <nb-card-body>
    <form>
<!--      <div class="form-group">-->
<!--        <label for="ctSelectType" class="label">LOẠI</label>-->
<!--        <div class="clearfix"></div>-->
<!--        <nb-select [(selected)]="thuChiType" id="ctSelectType">-->
<!--          <nb-option value="{{ tcType.key }}" *ngFor="let tcType of thuChiTypes">{{ tcType.name }}</nb-option>-->
<!--        </nb-select>-->
<!--      </div>-->
      <div class="form-group">
        <label class="label">Ngày</label>
        <div class="clearfix"></div>
        <mat-form-field>
          <mat-label>Chọn ngày</mat-label>
          <input matInput [matDatepicker]="picker" (dateChange)="createDateChooice('change', $event)"
                 (click)="picker.open()" [(ngModel)]="today" [ngModelOptions]="{standalone: true}">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="isChi">
        <mat-checkbox class="example-margin kcheckbox-label" (click)="ungTraLuongClick($event.checked)">Trả/ Ứng Lương?</mat-checkbox>
      </div>

      <div class="form-group" *ngIf="isChi">
        <label for="exampleInputPassword1" class="label">Khoản chi</label>
        <input type="text" nbInput fullWidth id="exampleInputPassword1" placeholder="Khoản chi"
               (keyup)="updateThuChi($event, 'name')">
      </div>
      <div class="form-group" *ngIf="!isChi">
        <label for="exampleInputThu" class="label">Khoản THU</label>
        <input type="text" nbInput fullWidth id="exampleInputThu" placeholder="Khoản THU"
               (keyup)="updateThuChi($event, 'name')" [value]="khoanThu">
      </div>
      <div class="form-group" *ngIf="isChi">
        <label for="exampleInputSL" class="label">Số Lượng</label>
        <input type="text" nbInput fullWidth id="exampleInputSL" placeholder="Số Lượng"
               (keyup)="updateThuChi($event, 'soLuong')">
      </div>
      <div class="form-group" *ngIf="!isChi">
        <label for="ctNhaCungCap" class="label">Thu từ ĐỐI TÁC</label>
        <div class="clearfix"></div>
        <nb-select [(selected)]="selectKH" id="ctNhaCungCap">
          <nb-option [value]="customer.key" *ngFor="let customer of allCustomers">{{ customer.name }}</nb-option>
        </nb-select>
      </div>
      <div class="form-group" *ngIf="!isChi">
        <label for="trangThaiThanhToan" class="label">Trạng Thái Thanh Toán</label>
        <div class="clearfix"></div>
        <nb-select [(selected)]="tttt" id="trangThaiThanhToan">
          <nb-option [value]="tt.key" *ngFor="let tt of thanhToanTypes">{{ tt.name }}</nb-option>
        </nb-select>
      </div>
      <div class="form-group">
        <label for="exampleInputIMG" class="label">ẢNH GIAO DỊCH</label>
        <input type="text" nbInput fullWidth id="exampleInputIMG" placeholder="URL ảnh ( google driver, ... )"
               (keyup)="updateThuChi($event, 'url')">
      </div>
      <div class="form-group">
        <label for="price" class="label">Số tiền</label>
        <input type="number" nbInput fullWidth id="price" placeholder="Số tiền"
               (keyup)="updateThuChi($event, 'price')" [value]="soTien">
      </div>
      <div class="form-group">
        <label for="note" class="label">Ghi Chú</label>
        <div class="clearfix"></div>
        <textarea cols="60" nbInput placeholder="Ghi Chú" id="note" (keyup)="updateThuChi($event, 'note')"></textarea>
      </div>

      <div class="thu-chi mb-5">
        <div class="form-group">
          <label class="label">TẢI FILES</label>
        </div>
        <label>
          <input
            type="file"
            accept="image/*"
            class="text-nowrap text-truncate"
            (change)="selectFile($event)"
          />
        </label>

        <button
          class="btn btn-success btn-sm d-none"
          [disabled]="!selectedFiles"
          (click)="upload()"
        >
          TẢI LÊN
        </button>

        <div *ngIf="currentFileUpload && percentage !== 100" class="progress mt-2 mb-3">
          <div
            class="progress-bar progress-bar-info"
            role="progressbar"
            attr.aria-valuenow="{{ percentage }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: percentage + '%' }"
          >
            {{ percentage }}%
          </div>
        </div>
        <div class="file-upload">
          <ul
            class="list-group list-group-flush"
            *ngFor="let file of fileUploadsNew"
          >
            <li class="list-group-item">
              <app-upload-details [fileUpload]='file' (deleteFile)="deleteFile($event)"></app-upload-details>
            </li>
          </ul>
        </div>

      </div>
      <button type="submit" nbButton status="danger" (click)="addItem()" *ngIf="isChi">THÊM CHI</button>
      <button type="submit" nbButton status="danger" (click)="addItem()" *ngIf="!isChi">THÊM THU</button>
    </form>
  </nb-card-body>
</nb-card>
