<div class="in-don-hang">

  <button nbButton (click)="printOrder()" class="d-print-none btn-indonhang">IN ĐƠN HÀNG ( In {{ order?.school?.printNumber || 2}} bản )</button>
  <button nbButton (click)="onNoClick()" class="d-print-none btn-indonhang ml-2">THOÁT</button>

  <h1 class="text-center">PHIẾU GIAO NHẬN HÀNG HÓA</h1>
  <h5 class="text-right">Ngày giao hàng: {{ orderDate }}</h5>
  <div class="dvgh">
    <strong>Đơn Vị Giao Hàng: </strong>
    <span>CÔNG TY TNHH THỊNH PHONG ĐỖ</span>
  </div>
  <div class="dia-chi">
    Đ/C: Số 215 ngõ 264 đường Ngọc Thụy, Phường Ngọc Thụy, Quận Long Biên, Thành Phố Hà Nội, Việt Nam.
  </div>
  <div class="kmst">
    MST : 0110655263
  </div>
  <div class="kmst" *ngIf="order?.customer?.key === chiLinhKey">
    <span><strong>CÔNG TY CỔ PHẦN THỰC PHẨM BÔNG LÚA VÀNG</strong></span>
  </div>
  <div class="kdcgh">
    <strong>Địa Chỉ Giao Hàng: <span>{{ order?.school?.name }}</span></strong>
  </div>
  <div class="khsd">
    <strong>Hạn sử dụng: </strong>
    <span>Hạn sử dụng trong vòng 24h, quay nóng trong vòng 2 phút sẽ ngon hơn.</span>
  </div>
  <div class="klh">
    <strong>Liên hệ người nhận:</strong> ........
  </div>
  <div class="ktable">
    <table class="table table-bordered mobile-zoom">
      <thead>
      <tr>
        <th scope="col" class="text-center align-middle">STT</th>
        <th scope="col" class="text-center align-middle" colspan="2">Sản Phẩm</th>
        <th scope="col" class="text-center align-middle">Đơn vị tính</th>
        <th scope="col" class="text-center align-middle">Số Lượng Giao</th>
        <th scope="col" class="text-center align-middle">Số Lượng Trả</th>
        <th scope="col" class="text-center align-middle">Ghi Chú</th>
      </tr>
      </thead>
      <tbody *ngFor="let item of order.sItem | keyvalue; let idx = index;">
      <tr *ngFor="let sp of item.value; let spIdx = index;" class="k-no-border-top">
        <th scope="row" [attr.rowspan]="item?.value?.length" class="align-middle text-center" *ngIf="spIdx === 0">
          {{ idx + 1 }}
        </th>
        <th scope="row" [attr.rowspan]="item?.value?.length" class="align-middle text-center" *ngIf="spIdx === 0">
          {{ sp?.product?.category?.name }}
        </th>
        <th class=" align-middle">{{ sp?.product?.name }}</th>
        <th class="text-center align-middle ">{{ sp?.product?.productType?.name }}</th>
        <th class="text-center align-middle">{{ sp?.qty }}</th>
        <th class="text-center align-middle">{{ getReturnByProductKey(sp?.product?.key) }}</th>
        <th class="text-left align-middle">{{ sp?.product?.note }}</th>
      </tr>
      </tbody>
      <tbody *ngIf="order?.note?.length">
      <th class="align-middle" colspan="7">Ghi chú: {{ order?.note }}</th>
      </tbody>
      <tbody>
      <th class="align-middle" colspan="7">Tổng cộng:</th>
      </tbody>
    </table>
  </div>
  <div class="ksign row">
    <div class="kban text-left text-bold">Chữ ký nhận</div>
    <div class="knhan text-right text-bold">Chữ ký trả</div>
  </div>
  <div class="kreturn row">
    <div class="kban text-left text-bold">Ngày nhận</div>
    <div class="knhan text-right text-bold">Ngày trả</div>
  </div>
</div>
