<nb-card class="col-md-12 col-lg-12 col-xxxl-12 tao-don-hang disable-dbl-tap-zoom mobile-padding">
  <nb-card-body class="top-padding">
    <!--        CONTENT-->
    <div class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card>
        <nb-card-header>NGÀY RA ĐƠN</nb-card-header>
        <nb-card-body>
          <mat-form-field>
            <mat-label>Chọn ngày</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="createDateChooice('change', $event)"
                   (click)="picker.open()" [ngModel]="tomorrow">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-12 col-lg-12 col-xxxl-12 mobile-padding" *ngIf="order?.date">
      <div class="kselect">
        <h5>Ngày ra đơn: {{ order?.date | date: 'dd/MM/yyyy'}}</h5>
        <div class="example-form-fields">
          <!--            KHÁCH HÀNG -->
          <mat-form-field>
            <mat-label>KHÁCH HÀNG</mat-label>
            <mat-select required [(ngModel)]="selectKH">
              <mat-option value="" (click)="chonKH(null)">Chọn KH</mat-option>
              <mat-option *ngFor="let o of customers" [value]="o.key" (click)="chonKH(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--            TRƯỜNG-->
          <mat-form-field>
            <mat-label>ĐỊA ĐIỂM</mat-label>
            <mat-select [(ngModel)]="selectSchool" required>
              <mat-option value="" (click)="chonTruong(null)">Chọn Địa Điểm</mat-option>
              <mat-option *ngFor="let o of schools" [value]="o.key" (click)="chonTruong(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--            NHAN VIEN-->
          <mat-form-field>
            <mat-label>NHÂN VIÊN GIAO</mat-label>
            <mat-select [(ngModel)]="selectEmployee">
              <mat-option value="" (click)="chonNV(null)">Chọn NV</mat-option>
              <mat-option *ngFor="let o of employees" [value]="o.key" (click)="chonNV(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--              Sản phẩm-->
        <div class="clearfix"></div>

        <div class="top-product">
          <h3>SẢN PHẨM BÁN CHẠY</h3>
          <div class="list-product mb-3" *ngIf="topProducts?.length">
            <mat-card *ngFor="let o of topProducts; trackBy: trackByFn; index as i;" (click)="addToCart(o);">
              <div class="qty-in-cart" *ngIf="itemInCart(o)">{{ itemInCart(o) }}</div>
              <mat-card-header>
                <mat-card-title>{{ o?.name }} ({{ o?.price | currency : '' : '' : '1.0-0' }}-{{ o?.productType?.name }})</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
        </div>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let category of products | keyvalue; let index = index;"
                               [expanded]="index === 0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ category.key }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="list-product" *ngIf="category?.value?.length">
              <mat-card *ngFor="let o of category?.value; trackBy: trackByFn; index as i;" (click)="addToCart(o);">
                <div class="qty-in-cart" *ngIf="itemInCart(o)">{{ itemInCart(o) }}</div>
                <mat-card-header>
                  <mat-card-title>{{ o?.name }} ({{ o?.price | currency : '' : '' : '1.0-0' }}-{{ o?.productType?.name }})</mat-card-title>
                </mat-card-header>
              </mat-card>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

        <!--  Shopping cart -->
        <app-product-list [products]="products" [order]="order" [editOrder]="false" (createNewOrder)="createNewOrder($event)"
                          class="shopping-cart"></app-product-list>
        <!--  END Shopping cart -->

      </div>
    </div>
    <!--  END CONTENT-->
    <button mat-raised-button disabled *ngIf="!enableTaoDonHang" color="warn">TẠO ĐƠN HÀNG</button>
    <button mat-raised-button *ngIf="enableTaoDonHang" (click)="taoDonHang()" color="accent">TẠO ĐƠN HÀNG</button>
  </nb-card-body>
</nb-card>

