@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '@nebular/theme/styles/globals';
@import '@nebular/auth/styles/globals';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};
.table-bordered {
  tbody {
    border-top-width: 1px !important;
  }
  thead th {
    border-bottom-width: 1px !important;
  }
  .k-no-border-top {
    th {
      border-top: 0;
    }
  }
}
.mat-expansion-panel-header {
  user-select: none;
}
@media print {
  .ng2-smart-titles {
    display: none !important;
  }
}
.in-don-hang {
  padding: 0 10px;
  .dvgh {
    padding-bottom: 10px;
  }
  .dia-chi {
    padding-bottom: 10px;
  }
  .kmst {
    padding-bottom: 10px;
  }
  .kdcgh {
    padding-bottom: 10px;
  }
  .khsd {
    padding-bottom: 10px;
  }
  .klh {
    padding-bottom: 10px;
  }
 .ksign {
   justify-content: flex-end;
   padding-top: 20px;
   padding-bottom: 20px;
   margin: auto 0;
   .knhan {
     padding-right: 20px;
     font-weight: bold;
     width: 40%;
     text-transform: uppercase;
   }
   .kban {
     font-weight: bold;
     text-transform: uppercase;
   }
 }
}

.tao-don-hang {
  padding: 0;
  nb-card-body {
    padding: 0;
    nb-stepper {
      .header {
        display: none;
      }
    }
    .step-content {
      padding: 10px 0;
    }
  }
  .mat-mdc-form-field-infix {
    width: 230px;
  }
}
.btn-indonhang {
  margin-bottom: 10px;
  color: chocolate !important;
}
.indonchobep {
  padding: 10px 0;
}
.in-bep {
  .big-text {
    font-size: 30px;
  }
}
.list-order {
  tr {
    &:hover {
      cursor: pointer;
    }
  }
}

ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  font-size: 12px !important;
}
.ng2-smart-actions {
  height: 100% !important;
  .custom-action {
    &:hover {
      color: red;
    }
  }
}
.top-padding {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.cdk-overlay-container {
  z-index: 1200 !important;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
* {
  touch-action: manipulation;
}
