@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '@nebular/theme/styles/globals';
@import '@nebular/auth/styles/globals';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};
.table-bordered {
  border: 2px solid #000;
  tbody {
    border-top-width: 2px !important;
    border-color: #000;
  }
  tr, th {
    border: 2px solid #000 !important;
  }
  .k-no-border-top {
    th {
      border-top: 0;
    }
  }
}
.mat-expansion-panel-header {
  user-select: none;
}
@media print {
  .ng2-smart-titles {
    display: none !important;
  }
}
.in-don-hang {
  padding: 0 20px;
  .dvgh {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .dia-chi {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .kmst {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .kdcgh {
    font-size: 18px;
    padding-bottom: 10px;
    span {
      font-size: 22px;
    }
  }
  .khsd {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .klh {
    font-size: 18px;
    padding-bottom: 10px;
  }
 .ksign {
   justify-content: space-around;
   padding-top: 20px;
   padding-bottom: 20px;
   margin: auto 0;
   font-size: 20px;
   .knhan {
     font-weight: bold;
     width: 40%;
     text-transform: uppercase;
   }
   .kban {
     font-weight: bold;
     text-transform: uppercase;
   }
 }
  .kreturn {
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 20px;
    margin: auto 0;
    font-size: 16px;
    .knhan {
      font-weight: bold;
      width: 40%;
      text-transform: uppercase;
    }
    .kban {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.tao-don-hang {
  padding: 0;
  nb-card-body {
    padding: 0;
    nb-stepper {
      .header {
        display: none;
      }
    }
    .step-content {
      padding: 10px 0;
    }
  }
  .mat-mdc-form-field-infix {
    width: 230px;
  }
  .mat-mdc-form-field {
    padding: 0 10px;
  }
}
.btn-indonhang {
  margin-bottom: 10px;
  color: chocolate !important;
}
.indonchobep {
  padding: 10px 0 0;
  button {
    border: 1px solid grey;
  }
}
.in-bep {
  .big-text {
    font-size: 30px;
  }
}
.list-order {
  tr {
    &:hover {
      cursor: pointer;
    }
  }
}

ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  font-size: 12px !important;
  text-align: center;
  min-width: 70px;
}
.ng2-smart-actions {
  height: 100% !important;
  .custom-action {
    &:hover {
      color: red;
    }
  }
}
.top-padding {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.cdk-overlay-container {
  z-index: 1200 !important;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
* {
  touch-action: manipulation;
}
.reset-filter {
  margin-bottom: 10px;
  button {
    border: 1px solid grey;
  }
}
.tra-hang-note {
  width: 100%;
}
.mat-mdc-dialog-container {
  max-height: 94vh !important;
}
.cdk-overlay-pane {
  max-width: 96vw !important;
}
.padding-right-10 {
  padding-right: 10px;
}
button:focus {
  outline: 0px;
}
.mat-expansion-panel-header.mat-expanded {
  font-size: 16px;
}
.cong-no {
  .cong-not-date-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 10px;
    color: brown;
  }
  mat-card {
    box-shadow: none;
  }
  .order-master {
    padding-top: 10px;
    padding-bottom: 10px;
    color: blue;
    font-size: 18px;
  }
  .total {
    font-weight: 700;
    color: blue;
    font-size: 16px;
  }
  .cn-title {
    color: chocolate;
  }
  .cn-kh {
    margin-top: 30px;
  }
}
.edit-order-item {
  mat-form-field {
    margin-right: 10px;
  }
  .qui-cach-sp {
    width: 50%;
    .mat-mdc-text-field-wrapper {
      background-color: white;
    }
  }
  .success {
    margin-right: 16px;
  }
}
