<nb-card>
  <nb-card-header>
    CÔNG NỢ
  </nb-card-header>
  <nb-card-body class="list-order cong-no">
    <div class="order-date-filter">
      <div class="col-md-12 col-lg-12 col-xxxl-12">
        <mat-form-field>
          <mat-label>LỌC THEO NGÀY</mat-label>
          <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
            <input matStartDate placeholder="Ngày Bắt Đầu" #dateRangeStart [ngModel]="startDate">
            <input matEndDate placeholder="Ngày Cuối"
                   #dateRangeEnd [ngModel]="endDate"
                   (dateChange)="filterByDate(dateRangeStart, dateRangeEnd)">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <div class="example-form-fields">
          <!--            KHÁCH HÀNG -->
          <mat-form-field class="padding-right-10">
            <mat-label>KHÁCH HÀNG</mat-label>
            <mat-select [(ngModel)]="selectKH">
              <mat-option value="" (click)="filterByCustomer(null)">Chọn KH</mat-option>
              <mat-option *ngFor="let o of customers" [value]="o.key" (click)="filterByCustomer(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--            TRƯỜNG-->
          <mat-form-field class="padding-right-10">
            <mat-label>ĐỊA ĐIỂM</mat-label>
            <mat-select [(ngModel)]="selectSchool">
              <mat-option value="" (click)="filterBySchool(null)">Chọn Địa Điểm</mat-option>
              <mat-option *ngFor="let o of schools" [value]="o.key" (click)="filterBySchool(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--            NHAN VIEN-->
          <mat-form-field class="padding-right-10">
            <mat-label>NHÂN VIÊN GIAO</mat-label>
            <mat-select [(ngModel)]="selectEmployee">
              <mat-option value="" (click)="filterByEmployee(null)">Chọn NV</mat-option>
              <mat-option *ngFor="let o of employees" [value]="o.key" (click)="filterByEmployee(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div (click)="resetFilter()" class="reset-filter">
          <button mat-button (click)="resetFilter()">LỌC MẶC ĐỊNH</button>
        </div>
      </div>
    </div>
    <!--    CÔNG NỢ THEO ĐỊA ĐIỂM-->
    <h6 class="text-center cn-title">CÔNG NỢ THEO ĐỊA ĐIỂM</h6>
    <div class="cong-no">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of orderBySchool; let index = index;"
                             [expanded]="index === 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item[0]?.school?.name | uppercase }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Chi tiết theo ngày -->
          <div class="list-product">
            <mat-card *ngFor="let order of item; index as i;">
              <div class="cong-not-date-title">Ngày: {{ order.date | date : 'dd/MM/YYYY' }}</div>
              <div class="ktable">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th scope="col" class="text-center align-middle" colspan="2">Sản Phẩm</th>
                    <th scope="col" class="text-center align-middle">Đơn vị tính</th>
                    <th scope="col" class="text-center align-middle">Số Lượng Giao</th>
                    <th scope="col" class="text-center align-middle">Số Lượng Trả</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let item of order.sItem | keyvalue; let idx = index;">
                  <tr *ngFor="let sp of item.value; let spIdx = index;" class="k-no-border-top">
                    <th scope="row" [attr.rowspan]="item?.value?.length" class="align-middle text-center"
                        *ngIf="spIdx === 0">
                      {{ sp?.product?.category?.name }}
                    </th>
                    <th>{{ sp?.product?.name }}</th>
                    <th class="text-center">{{ sp?.product?.productType?.name }}</th>
                    <th class="text-center">{{ sp?.qty }}</th>
                    <th class="text-center">{{ getReturnByProductKey(order, sp?.product?.key) }}</th>
                  </tr>
                  </tbody>
                  <tbody *ngIf="order?.note?.length">
                  <th class="align-middle" colspan="7">Ghi chú: {{ order?.note }}</th>
                  </tbody>
                  <tbody>
                  <th class="align-middle text-right" colspan="7">Tổng cộng: {{tongTienByOrder(order)}}</th>
                  </tbody>
                </table>
              </div>
            </mat-card>

            <!-- Tổng hợp trong 1 order -->
            <div class="tong-hop" [ngClass]="{ 'd-none': isSameDay}">
              <mat-divider></mat-divider>
              <div class="order-master">
                <span>Tổng hợp từ ngày: </span> <b>{{ modelService.filterStartDate | date : 'dd/MM/YYYY' }}
                - {{ modelService.filterEndDate | date : 'dd/MM/YYYY' }}</b>
              </div>
              <div class="order-tong-hop" *ngFor="let order of item; index as i;" [ngClass]="{ 'd-none': i >= 1}">
                <div class="ktable">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle" colspan="2">Sản Phẩm</th>
                      <th scope="col" class="text-center align-middle">Đơn vị tính</th>
                      <th scope="col" class="text-center align-middle">Số Lượng Giao</th>
                      <th scope="col" class="text-center align-middle">Số Lượng Trả</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of order?.master?.sItem | keyvalue; let idx = index;">
                    <tr *ngFor="let sp of item.value; let spIdx = index;" class="k-no-border-top">
                      <th scope="row" [attr.rowspan]="item?.value?.length" class="align-middle text-center"
                          *ngIf="spIdx === 0">
                        {{ sp?.product?.category?.name }}
                      </th>
                      <th>{{ sp?.product?.name }}</th>
                      <th class="text-center">{{ sp?.product?.productType?.name }}</th>
                      <th class="text-center">{{ sp?.qty }}</th>
                      <th class="text-center">{{ getReturnByProductKey(order, sp?.product?.key) }}</th>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="total text-right">
                TỔNG: {{ tongTienByOrders(item) }}
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>


    <!--    END CÔNG NỢ THEO ĐỊA ĐIỂM-->
    <!--    CÔNG NỢ THEO KHÁCH HÀNG-->
    <h6 class="text-center cn-title cn-kh">CÔNG NỢ THEO KHÁCH HÀNG</h6>
    <div class="cong-no">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let congNo of congNoByCustomer; let index = index;"
                             [expanded]="index === 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Đối tác: {{ congNo?.customer?.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Chi tiết theo ngày -->
          <div class="list-product">
            <div class="time" [ngClass]="{ 'd-none': isSameDay}">
              <span>Thời gian: </span> <b>Từ {{ modelService.filterStartDate | date : 'dd/MM/YYYY' }}
              tới {{ modelService.filterEndDate | date : 'dd/MM/YYYY' }}</b>
            </div>
            <div class="time" [ngClass]="{ 'd-none': !isSameDay}">
              <span>Thời gian: </span> <b>ngày {{ modelService.filterStartDate | date : 'dd/MM/YYYY' }}</b>
            </div>
            <mat-card>
              <div class="ktable">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th scope="col" class="text-center align-middle">STT</th>
                    <th scope="col" class="text-left align-middle">ĐIỂM TRƯỜNG</th>
                    <th scope="col" class="text-left align-middle">TIỀN (VNĐ)</th>
                    <th scope="col" class="text-left align-middle">GHI CHÚ</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let diemTruong of congNo?.schools; index as i;" class="k-no-border-top">
                    <th class="align-middle text-center">
                      {{ i + 1 }}
                    </th>
                    <th>{{ diemTruong?.school?.name }}</th>
                    <th class="text-left">{{ diemTruong?.total | currency : '' : '' : '1.0-0' }}</th>
                    <th class="text-left">{{ congNo?.note }}</th>
                  </tr>
                  </tbody>
                  <tbody>
                  <th class="align-middle text-right total" colspan="7">Tổng
                    cộng: {{ congNo?.masterTotal | currency : '' : '' : '1.0-0' }} VNĐ
                  </th>
                  </tbody>
                </table>
              </div>
            </mat-card>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!--    END CÔNG NỢ THEO KHÁCH HÀNG-->


    <ng2-smart-table [settings]="settings" [source]="source"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onEditConfirm($event)"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (userRowSelect)="printOrder($event)"
                     (custom)="onCustom($event)" class="d-none">
    </ng2-smart-table>
    <div class="indonchobep d-none">
      <div class="text-right">Tổng đơn hàng: <b>{{ source?.count() }}</b></div>
    </div>
  </nb-card-body>
</nb-card>
