<nb-card>
  <nb-card-header>
    TỔNG HỢP CÔNG NỢ ( <b>{{ source?.count() }}</b> )
  </nb-card-header>
  <nb-card-body class="list-order cong-no">
    <div class="order-date-filter">
      <div class="col-md-12 col-lg-12 col-xxxl-12">
        <mat-form-field>
          <mat-label>LỌC THEO NGÀY</mat-label>
          <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
            <input matStartDate placeholder="Ngày Bắt Đầu" #dateRangeStart [ngModel]="startDate">
            <input matEndDate placeholder="Ngày Cuối"
                   #dateRangeEnd [ngModel]="endDate"
                   (dateChange)="filterByDate(dateRangeStart, dateRangeEnd)">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <div class="example-form-fields">
          <!--            KHÁCH HÀNG -->
          <mat-form-field class="padding-right-10">
            <mat-label>KHÁCH HÀNG</mat-label>
            <mat-select [(ngModel)]="selectKH">
              <mat-option value="" (click)="filterByCustomer(null)">Chọn KH</mat-option>
              <mat-option *ngFor="let o of customers" [value]="o.key" (click)="filterByCustomer(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--            TRƯỜNG-->
          <mat-form-field class="padding-right-10">
            <mat-label>ĐỊA ĐIỂM</mat-label>
            <mat-select [(ngModel)]="selectSchool">
              <mat-option value="" (click)="filterBySchool(null)">Chọn Địa Điểm</mat-option>
              <mat-option *ngFor="let o of schools" [value]="o.key" (click)="filterBySchool(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--            NHAN VIEN-->
          <mat-form-field class="padding-right-10">
            <mat-label>NHÂN VIÊN GIAO</mat-label>
            <mat-select [(ngModel)]="selectEmployee">
              <mat-option value="" (click)="filterByEmployee(null)">Chọn NV</mat-option>
              <mat-option *ngFor="let o of employees" [value]="o.key" (click)="filterByEmployee(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="reset-filter">
          <button class="primary mr-1" mat-button (click)="getPreviousWeek(2)">2 Tuần trước</button>
          <button class="primary mr-1" mat-button (click)="getPreviousWeek(1)">Tuần trước</button>
          <button class="primary" mat-button (click)="getPreviousWeek(0)">Tuần này</button>
        </div>
        <div (click)="resetFilter()" class="reset-filter">
          <button mat-button (click)="resetFilter()">LỌC MẶC ĐỊNH</button>
        </div>
        <section class="example-section custom-action">
          <mat-checkbox class="example-margin" [(ngModel)]="showSellPrice">Hiển thị Giá bán?</mat-checkbox>
<!--          <mat-checkbox class="example-margin ml-3" [(ngModel)]="showAllCongNo" (click)="getCongNo(true)">Lấy toàn bộ công nợ?</mat-checkbox>-->
        </section>
      </div>
    </div>

    <!-- Tổng hợp -->
    <div class="tong-hop"
         *ngIf="orderService?.filterStartDate?.toString() !== 'Invalid Date' && orderService?.filterEndDate?.toString() !== 'Invalid Date'">
      <div class="order-master">
        <span>Tổng hợp từ ngày: </span> <b>{{ orderService.filterStartDate | date : 'dd/MM/YYYY' }}
        - {{ orderService.filterEndDate | date : 'dd/MM/YYYY' }}</b>
        <span class="text-right tong-hop-tien">{{ tongTienByOrder(tongHopOrder) }}</span>
      </div>
      <div class="order-tong-hop">
        <div class="ktable">
          <table class="table table-bordered mobile-zoom">
            <thead>
            <tr>
              <th scope="col" class="text-center align-middle" colspan="2">Sản Phẩm</th>
              <th scope="col" class="text-center align-middle">Đơn vị tính</th>
              <th scope="col" class="text-center align-middle">Số Lượng Giao</th>
              <th scope="col" class="text-center align-middle">Số Lượng Trả</th>
              <th scope="col" class="text-center align-middle text-right" *ngIf="showSellPrice">Giá bán</th>
              <th scope="col" class="text-center align-middle text-right" *ngIf="showSellPrice">Tổng</th>
            </tr>
            </thead>
            <tbody *ngFor="let item of tongHopOrder?.sItem | keyvalue; let idx = index;">
            <tr *ngFor="let sp of item.value; let spIdx = index;" class="k-no-border-top">
              <th scope="row" [attr.rowspan]="item?.value?.length" class="align-middle text-center"
                  *ngIf="spIdx === 0">
                {{ sp?.product?.category?.name }}
              </th>
              <th class=" align-middle">{{ sp?.product?.name }}</th>
              <th class="text-center align-middle">{{ sp?.product?.productType?.name }}</th>
              <th class="text-center align-middle">{{ sp?.qty }}</th>
              <th class="text-center align-middle">{{ getTotalReturnByItem(sp) }}</th>
              <th class=" align-middle text-right" *ngIf="showSellPrice">{{ sp?.price | currency : '' : '' : '1.0-0' }}</th>
              <th class=" align-middle text-right" *ngIf="showSellPrice">{{ getTotalByItem(sp) | currency : '' : '' : '1.0-0' }}</th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-right">
        <button nbButton (click)="truyThuCongNo()" class="d-print-none btn-indonhang mr-2" *ngIf="thuCongNo && selectSchool">Thu Công Nợ</button>
        <button nbButton (click)="exportCongNoTong()" class="d-print-none btn-indonhang">XUẤT RA EXCEL</button>
      </div>
    </div>
    <div class="clearfix mt-2"></div>
    <!--    CÔNG NỢ THEO ĐỊA ĐIỂM-->
    <h6 class="text-center cn-title clearfix">CÔNG NỢ THEO ĐỊA ĐIỂM</h6>
    <div class="clearfix"></div>
    <div class="cong-no clearfix">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of orderBySchool; let index = index;"
                             [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item[0]?.school?.name | uppercase }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Chi tiết theo ngày -->
          <div class="list-product">
            <mat-card *ngFor="let order of item; index as i;">
              <div class="cong-not-date-title">
                Ngày: {{ order.date | date : 'dd/MM/YYYY' }}
                <div class="da-thu-cn" *ngIf="order?.paid">Đã Thu Công Nợ</div>
              </div>
              <div class="ktable">
                <table class="table table-bordered mobile-zoom">
                  <thead>
                  <tr>
                    <th scope="col" class="text-center align-middle" colspan="2">Sản Phẩm</th>
                    <th scope="col" class="text-center align-middle">Đơn vị tính</th>
                    <th scope="col" class="text-center align-middle">Số Lượng Giao</th>
                    <th scope="col" class="text-center align-middle">Số Lượng Trả</th>
                    <th scope="col" class="text-center align-middle text-right" *ngIf="showSellPrice">Giá bán</th>
                    <th scope="col" class="text-center align-middle text-right" *ngIf="showSellPrice">Tổng</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let item of order.sItem | keyvalue; let idx = index;">
                  <tr *ngFor="let sp of item.value; let spIdx = index;" class="k-no-border-top">
                    <th scope="row" [attr.rowspan]="item?.value?.length" class="align-middle text-center"
                        *ngIf="spIdx === 0">
                      {{ sp?.product?.category?.name }}
                    </th>
                    <th class=" align-middle">{{ sp?.product?.name }}</th>
                    <th class="text-center align-middle">{{ sp?.product?.productType?.name }}</th>
                    <th class="text-center align-middle">{{ sp?.qty }}</th>
                    <th class="text-center align-middle">{{ getReturnByProductKey(order, sp?.product?.key) }}</th>
                    <th class=" align-middle text-right" *ngIf="showSellPrice">{{ sp?.price | currency : '' : '' : '1.0-0' }}</th>
                    <th class=" align-middle text-right" *ngIf="showSellPrice">{{ getTotalByItem(sp) | currency : '' : '' : '1.0-0' }}</th>
                  </tr>
                  </tbody>
                  <tbody *ngIf="order?.note?.length">
                  <th class="align-middle" colspan="7">Ghi chú: {{ order?.note }}</th>
                  </tbody>
                  <tbody>
                  <th class="align-middle text-right" colspan="7">Tổng cộng: {{tongTienByOrder(order)}}</th>
                  </tbody>
                </table>
              </div>
            </mat-card>

            <!-- Tổng hợp trong 1 order -->
            <div class="tong-hop" [ngClass]="{ 'd-none': isSameDay}">
              <mat-divider></mat-divider>
              <div class="order-master"
                   *ngIf="orderService?.filterStartDate?.toString() !== 'Invalid Date' && orderService?.filterEndDate?.toString() !== 'Invalid Date'">
                <span>Tổng hợp từ ngày: </span> <b>{{ orderService.filterStartDate | date : 'dd/MM/YYYY' }}
                - {{ orderService.filterEndDate | date : 'dd/MM/YYYY' }}</b>
              </div>
              <div class="order-tong-hop" *ngFor="let order of item; index as i;" [ngClass]="{ 'd-none': i >= 1}">
                <div class="ktable">
                  <table class="table table-bordered mobile-zoom">
                    <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle" colspan="2">Sản Phẩm</th>
                      <th scope="col" class="text-center align-middle">Đơn vị tính</th>
                      <th scope="col" class="text-center align-middle">Số Lượng Giao</th>
                      <th scope="col" class="text-center align-middle">Số Lượng Trả</th>
                      <th scope="col" class="text-center align-middle text-right" *ngIf="showSellPrice">Giá bán</th>
                      <th scope="col" class="text-center align-middle text-right" *ngIf="showSellPrice">Tổng</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of order?.master?.sItem | keyvalue; let idx = index;">
                    <tr *ngFor="let sp of item.value; let spIdx = index;" class="k-no-border-top">
                      <th scope="row" [attr.rowspan]="item?.value?.length" class="align-middle text-center"
                          *ngIf="spIdx === 0">
                        {{ sp?.product?.category?.name }}
                      </th>
                      <th class=" align-middle">{{ sp?.product?.name }}</th>
                      <th class="text-center align-middle">{{ sp?.product?.productType?.name }}</th>
                      <th class="text-center align-middle">{{ sp?.qty }}</th>
                      <th class="text-center align-middle">{{ getTotalReturnByItem(sp) }}</th>
                      <th class=" align-middle text-right" *ngIf="showSellPrice">{{ sp?.price | currency : '' : '' : '1.0-0' }}</th>
                      <th class=" align-middle text-right" *ngIf="showSellPrice">{{ getTotalByItem(sp) | currency : '' : '' : '1.0-0' }}</th>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="total text-right">
                TỔNG: {{ tongTienByOrders(item) | currency : '' : '' : '1.0-0' }} VNĐ
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>


    <!--    END CÔNG NỢ THEO ĐỊA ĐIỂM-->
    <!--    CÔNG NỢ THEO KHÁCH HÀNG-->
    <h6 class="text-center cn-title cn-kh">CÔNG NỢ THEO KHÁCH HÀNG</h6>
    <div class="cong-no">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let congNo of congNoByCustomer; let index = index;"
                             [expanded]="index === 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Đối tác: {{ congNo?.customer?.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Chi tiết theo ngày -->
          <div class="list-product">
            <div class="time" [ngClass]="{ 'd-none': isSameDay}"
                 *ngIf="orderService?.filterStartDate?.toString() !== 'Invalid Date' && orderService?.filterEndDate?.toString() !== 'Invalid Date'">
              <span>Thời gian: </span> <b>Từ {{ orderService.filterStartDate | date : 'dd/MM/YYYY' }}
              tới {{ orderService.filterEndDate | date : 'dd/MM/YYYY' }}</b>
            </div>
            <div class="time" [ngClass]="{ 'd-none': !isSameDay}"
                 *ngIf="orderService?.filterStartDate?.toString() !== 'Invalid Date' && orderService?.filterEndDate?.toString() !== 'Invalid Date'">
              <span>Thời gian: </span> <b>ngày {{ orderService.filterStartDate | date : 'dd/MM/YYYY' }}</b>
            </div>
            <mat-card>
              <div class="ktable">
                <table class="table table-bordered mobile-zoom">
                  <thead>
                  <tr>
                    <th scope="col" class="text-center align-middle">STT</th>
                    <th scope="col" class="text-left align-middle">ĐIỂM TRƯỜNG</th>
                    <th scope="col" class="text-left align-middle">TIỀN (VNĐ)</th>
                    <th scope="col" class="text-left align-middle">GHI CHÚ</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let diemTruong of congNo?.schools; index as i;" class="k-no-border-top">
                    <th class="align-middle text-center">
                      {{ i + 1 }}
                    </th>
                    <th>{{ diemTruong?.school?.name }}</th>
                    <th class="text-left">{{ diemTruong?.total | currency : '' : '' : '1.0-0' }} VNĐ</th>
                    <th class="text-left">{{ congNo?.note }}</th>
                  </tr>
                  </tbody>
                  <tbody>
                  <th class="align-middle text-right total" colspan="7">Tổng
                    cộng: {{ congNo?.masterTotal | currency : '' : '' : '1.0-0' }} VNĐ
                  </th>
                  </tbody>
                </table>
              </div>
            </mat-card>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!--    END CÔNG NỢ THEO KHÁCH HÀNG-->

    <div class="danh-sach-hoa-don pt-4">
      <h6>Danh sách đơn hàng</h6>
    </div>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onEditConfirm($event)"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (userRowSelect)="printOrder($event)"
                     (custom)="onCustom($event)" class="d-none2 mobile-zoom">
    </ng2-smart-table>
    <div class="indonchobep d-none">
      <div class="text-right">Tổng đơn hàng: <b>{{ source?.count() }}</b></div>
    </div>
    <div class="text-right">
      <button nbButton (click)="exportCongNoTong1()" class="d-print-none btn-indonhang">XUẤT EXCEL</button>
    </div>
  </nb-card-body>
</nb-card>
