<h3>QUẢN LÝ SẢN PHẨM</h3>
<section>
  <div class="example-button-row">
    <button mat-flat-button color="primary" (click)="addNew()">+</button>
  </div>
</section>
<mat-divider></mat-divider>
<div class="example-container mat-elevation-z8" *ngIf="products?.length">
  <div class="table-responsive">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Nhóm SP</th>
        <th scope="col">Loại SP</th>
        <th scope="col">Giá</th>
        <th scope="col">Giá Nhập</th>
        <th scope="col">Số Lượng</th>
        <th scope="col">Note</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let model of products">
        <td>{{ model?.name }}</td>
        <td>{{ getCategoryByKey(model?.categoryKey) }}</td>
        <td>{{ getProductTypeByKey(model?.productTypeKey) }}</td>
        <td>{{ model?.price | currency: 'VNĐ ' : 'symbol' : '4.2-2' }}</td>
        <td>{{ model?.priceStock | currency: 'VNĐ ' : 'symbol' : '4.2-2' }}</td>
        <td>{{ model?.qty }}</td>
        <td>{{ model?.note }}</td>
        <td>
          <section>
            <div class="example-button-row">
              <button mat-flat-button color="primary" (click)="edit(model)">SỬA</button>
              <button mat-flat-button color="warn" (click)="delete(model)">XÓA</button>
            </div>
          </section>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

