<nb-card>
  <nb-card-header *ngIf="isChi">CHI TIẾT CHI</nb-card-header>
  <nb-card-header *ngIf="!isChi">CHI TIẾT THU</nb-card-header>
  <div class="comeback text-center mb-3">
    <button nbButton status="success" (click)="quayLai()">Quay lại</button>
  </div>
  <nb-card-body>
    <form>
      <div class="form-group">
        <label class="label">Ngày</label>
        <div class="clearfix"></div>
        <mat-form-field>
          <mat-label>Chọn ngày</mat-label>
          <input matInput [matDatepicker]="picker"
                 (click)="picker.open()" [(ngModel)]="thuChiDate" [ngModelOptions]="{standalone: true}"
                 [disabled]="true">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [disabled]="true"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">KHOẢN CHI</label>
        <input type="text" nbInput fullWidth id="exampleInputPassword1" placeholder="Tên" disabled
               [value]="thuChi.name">
      </div>
      <div class="form-group" *ngIf="isChi">
        <label for="exampleInputSL" class="label">Số Lượng</label>
        <input type="text" nbInput fullWidth id="exampleInputSL" placeholder="Tên" disabled
               [value]="thuChi.soLuong">
      </div>
      <div class="form-group" *ngIf="thuChi?.url">
        <label class="label">Ảnh Giao Dịch</label>
        <img src="{{ thuChi?.url }}"/>
      </div>
      <div class="form-group">
        <label for="price" class="label">Số tiền ( VNĐ )</label>
        <input type="text" nbInput fullWidth id="price" placeholder="Số tiền" disabled [disabled]="true"
               [value]="thuChi.price | currency : '' : '' : '1.0-0'">
      </div>
      <div class="form-group" *ngIf="thuChi?.note">
        <label for="note" class="label">Ghi Chú</label>
        <div class="clearfix"></div>
        <textarea nbInput placeholder="Ghi Chú" id="note" disabled [value]="thuChi?.note"></textarea>
      </div>

      <div class="thu-chi mb-5">
        <div class="file-upload">
          <ul class="list-group list-group-flush"
              *ngFor="let file of fileUploads">
            <li class="list-group-item" *ngIf="showFile(file)">
              <app-upload-details [fileUpload]='file' [allowDelete]="false"
                                  (showImg)="showImage($event)"></app-upload-details>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
