<nb-card>
  <nb-card-header *ngIf="isChi">CHI TIẾT CHI</nb-card-header>
  <nb-card-header *ngIf="!isChi">CHI TIẾT THU</nb-card-header>
  <div class="comeback text-center mb-3">
    <button nbButton status="success" (click)="quayLai()">Quay lại</button>
  </div>
  <nb-card-body>
    <form>
      <div class="form-group mb-0">
        <label class="label">Ngày</label>
        <div class="clearfix"></div>
        <mat-form-field>
          <mat-label>Chọn ngày</mat-label>
          <input matInput [matDatepicker]="picker"
                 (click)="picker.open()" [(ngModel)]="thuChiDate" [ngModelOptions]="{standalone: true}"
                 [disabled]="true">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [disabled]="true"></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="isChi">
        <mat-checkbox class="example-margin kcheckbox-label" (change)="ungTraLuongClick($event.checked)"
        [checked]="thuChi?.ttLuong">Trả/ Ứng Lương?</mat-checkbox>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">KHOẢN CHI</label>
        <input type="text" nbInput fullWidth id="exampleInputPassword1" placeholder="Tên"
               [value]="thuChi.name" (keyup)="updateThuChi($event, 'name')">
      </div>
      <div class="form-group" *ngIf="isChi">
        <label for="exampleInputSL" class="label">Số Lượng</label>
        <input type="text" nbInput fullWidth id="exampleInputSL" placeholder="Tên"
               [value]="thuChi.soLuong" (keyup)="updateThuChi($event, 'soLuong')">
      </div>
      <div class="form-group">
        <label for="price" class="label">Số tiền ( VNĐ )</label>
        <input type="text" nbInput fullWidth id="price" placeholder="Số tiền"
               [value]="thuChi.price" (keyup)="updateThuChi($event, 'price')">
        <p class="pre-price">{{ thuChi.price | currency : '' : '' : '1.0-0'}} VNĐ</p>
      </div>
      <div class="form-group">
        <label for="paymentType" class="label">Hình thức thanh toán</label>
        <div class="clearfix"></div>
        <div class="kradio">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="tt.key" *ngFor="let tt of paymentTypes" [checked]="thuChi.paymentType === tt.key"
                              (change)="updateThuChi($event, 'paymentType')" [disabled]="true">{{ tt.name }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="form-group">
        <label for="wallet" class="label" *ngIf="isChi">Từ tài khoản</label>
        <label for="wallet" class="label" *ngIf="!isChi">Tới tài khoản</label>
        <div class="clearfix"></div>
        <div class="kradio">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="tt.key" *ngFor="let tt of wallets" [checked]="thuChi.walletKey === tt.key"
                              (change)="updateThuChi($event, 'walletKey')" [disabled]="true">{{ tt.name }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="form-group" *ngIf="!isChi">
        <label for="trangThaiThanhToan" class="label">Trạng Thái Thanh Toán</label>
        <div class="clearfix"></div>
        <div class="kradio">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="tt.key" *ngFor="let tt of thanhToanTypes" [checked]="thuChi.trangThaiTT === tt.key"
                              (change)="updateThuChi($event, 'trangThaiTT')"  [disabled]="thuChi.trangThaiTT === 2">{{ tt.name }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="form-group">
        <label for="note" class="label">Ghi Chú</label>
        <div class="clearfix"></div>
        <textarea cols="60" nbInput placeholder="Ghi Chú" id="note" [value]="thuChi?.note" (keyup)="updateThuChi($event, 'note')"></textarea>
      </div>

      <div class="thu-chi mb-5">
        <div class="file-upload">
          <ul class="list-group list-group-flush"
              *ngFor="let file of fileUploads">
            <li class="list-group-item" *ngIf="showFile(file)">
              <app-upload-details [fileUpload]='file' [allowDelete]="false"
                                  (showImg)="showImage($event)"></app-upload-details>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label class="label">TẢI FILES</label>
        </div>
        <div class="container tai-file-drop">
          <div class="row">
            <div class="drop-box" corpImgUpload (dropFiles)="onDropFiles($event)">
              <span class="message">KÉO THẢ ẢNH VÀO ĐÂY</span>
            </div>
          </div>
        </div>
        <label>
          <input
            type="file"
            accept="image/*"
            class="text-nowrap text-truncate"
            (change)="selectFile($event)"
          />
        </label>

        <button
          class="btn btn-success btn-sm d-none"
          [disabled]="!selectedFiles"
          (click)="upload()"
        >
          TẢI LÊN
        </button>

        <div *ngIf="currentFileUpload && percentage !== 100" class="progress mt-2 mb-3">
          <div
            class="progress-bar progress-bar-info"
            role="progressbar"
            attr.aria-valuenow="{{ percentage }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: percentage + '%' }"
          >
            {{ percentage }}%
          </div>
        </div>
        <div class="file-upload">
          <ul
            class="list-group list-group-flush"
            *ngFor="let file of fileUploadsNew"
          >
            <li class="list-group-item">
              <app-upload-details [fileUpload]='file' (deleteFile)="deleteFile($event)"></app-upload-details>
            </li>
          </ul>
        </div>
      </div>
      <button type="submit" nbButton status="danger" (click)="submitThuChi()" *ngIf="isChi">SỬA KHOẢN CHI</button>
      <button type="submit" nbButton status="danger" (click)="submitThuChi()" *ngIf="!isChi">SỬA KHOẢN THU</button>
    </form>
  </nb-card-body>
</nb-card>
