<nb-card>
  <nb-card-header>
    QUẢN LÝ SẢN PHẨM ( <b>{{ source?.count() }}</b> )
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onEditConfirm($event)"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (custom)="onCustom($event)" class="d-none2 mobile-zoom">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    SẢN PHẨM BÁN CHẠY
  </nb-card-header>

  <nb-card-body>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">TÊN</th>
          <th scope="col">NHÓM</th>
          <th scope="col">QUI CÁCH</th>
          <th scope="col">GIÁ BÁN</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of allProducts">
          <th scope="row">
            <mat-checkbox class="example-margin" [checked]="product.topProduct" (change)="updateTopProduct(product, $event.checked)"></mat-checkbox>
          </th>
          <td>{{ product.name }}</td>
          <td>{{ product.category.name }}</td>
          <td>{{ product.productType.name }}</td>
          <td>{{ product.price | currency : '' : '' : '1.0-0' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
