<nb-card class="col-md-12 col-lg-12 col-xxxl-12 tao-don-hang">
  <nb-card-body class="top-padding">
    <h4 class="text-center">CHỈNH SỬA ĐƠN HÀNG</h4>
    <div class="col-md-12 col-lg-12 col-xxxl-12">
      <div class="kselect">
        <h5>Ngày ra đơn: {{ order?.date | date: 'dd/MM/yyyy'}}</h5>
        <div class="example-form-fields">
          <!--            KHÁCH HÀNG -->
          <mat-form-field>
            <mat-label>KHÁCH HÀNG</mat-label>
            <mat-select [value]="order?.customer?.key">
              <mat-option *ngFor="let o of customers" [value]="o.key" (click)="chonKH(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--            TRƯỜNG-->
          <mat-form-field>
            <mat-label>ĐỊA ĐIỂM</mat-label>
            <mat-select [value]="order?.school?.key">
              <mat-option *ngFor="let o of schools" [value]="o.key" (click)="chonTruong(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--            NHAN VIEN-->
          <mat-form-field>
            <mat-label>NHÂN VIÊN GIAO</mat-label>
            <mat-select [value]="order?.employee?.key">
              <mat-option *ngFor="let o of employees" [value]="o.key" (click)="chonNV(o)">
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--Sản phẩm-->
        <div class="clearfix"></div>
        <h5>SẢN PHẨM</h5>
        <h6>( click từng dòng để chỉnh sửa )</h6>
        <!--  Shopping cart -->
        <app-product-list [products]="products" [order]="order" [editOrder]="true" [orderKey]="orderId" class="shopping-cart"></app-product-list>
        <mat-form-field class="example-full-width tra-hang-note">
          <mat-label>Ghi chú cho cả đơn hàng</mat-label>
          <textarea matInput placeholder="Ghi chi tiết nhất có thể: ngày trả, lý do, ..." [(ngModel)]="order.note"></textarea>
        </mat-form-field>
      </div>
    </div>
    <!--  END CONTENT-->
    <div class="text-center">
      <button mat-raised-button (click)="capNhatDonHang()" color="accent">CẬP NHẬT ĐƠN HÀNG</button>
    </div>
  </nb-card-body>
</nb-card>

